<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class=" d-flex justify-content-end">
      <a class="navbar-brand" [routerLink]="['/taskList']">
        <img src="assets/task.png" alt="Logo" class="logo-image" style="height: 45px; margin-right: 15px;" />
        Task Management App
      </a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>
    <ul *ngIf="isLoggedIn" class="navbar-nav ms-md-auto gap-2">
      <li class="nav-item dropdown rounded">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-user-circle me-1 "></i>
          {{userName}}
        </a>
    
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li *ngIf="isAdmin"><a class="dropdown-item" [routerLink]="['/roleManagement']"><i class="fa fa-sitemap me-2"></i> Role Management</a></li>
          <li *ngIf="isAdmin">
            <hr class="dropdown-divider">
          </li>
          <li><a (click)="logout()" class="dropdown-item"><i class="fa fa-sign-out me-2"></i>Logout</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
