<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class=" d-flex justify-content-end">
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="assets/task.png" alt="Logo" class="logo-image" style="height: 45px; margin-right: 15px;" />
        Task Management App
      </a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>
  </nav>
</header>
