.badge-success {
  background-color: green;
  color: white;
}

.badge-warning {
  background-color: orange;
  color: white;
}

.badge-danger {
  background-color: red;
  color: white;
}

.badge-secondary {
  background-color: grey;
  color: white;
}

.full-width-container {
  width: 100%;
  padding-left: 1rem; 
  padding-right: 1rem;
  max-width: 100vw; 
}

.table-responsive {
  height: calc(900px - 100px);
}

.container-height {
  height: 800px;
}

.table tbody tr {
  min-height:80px; 
}

.table tbody td {
  min-height: 80px; 
}

.table-container {
  max-height: 780px;
  overflow-y: auto;
  position: relative;
}

.table-header {
  position: sticky;
  top: 0;
  background-color: #f5f5f5; 
}
