.badge-success {
  background-color: green;
  color: white;
}

.badge-warning {
  background-color: orange;
  color: white;
}

.badge-danger {
  background-color: red;
  color: white;
}

.badge-secondary {
  background-color: grey;
  color: white;
}

.theme {
  background-color: #69b7a8 !important;
  color: white;
}

.table-header th {
  background-color: #69b7a8 !important; /* Change to your desired color */
  color: white !important; /* Change text color if needed */
}
.table tbody tr {
  min-height:65px; 
}

.table tbody td {
  min-height: 65px; 
}

.table-container {
  max-height: 750px;
  overflow-y: auto;
  position: relative;
}

.pagination {
  padding: 10px 0; /* Optional: Adjust padding as needed */
}
