<div class="bg-image">
  <div class="container my-5">


    <form [formGroup]="taskForm" (ngSubmit)="saveTaskForm()" class="card p-4 shadow-sm mt-2">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="mb-0">{{ taskForm.value.taskId ? 'Update' : 'Create' }} Task</h4>
        <button type="button" class="btn btn-outline-info" (click)="cancel()">
          <i class="fa fa-arrow-left"></i> Back
        </button>
      </div>
      <div class="row gy-md-4 task-form ">
        <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-6">
          <div class="form-group ">
            <label class="form-label" for="title">Title <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="title" formControlName="title" placeholder="Enter title">
            <div *ngIf="taskForm.controls['title'].invalid && submitted" class="text-danger mt-1">
              <small *ngIf="taskForm.controls['title'].hasError('required')">Title is required.</small>
            </div>
          </div>
        </div>

        <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-6">
          <div class="form-group">
            <label class="form-label">Task Type<em>*</em></label>
            <span>
              <ng-select id="task-type-select"
                         class="ng-select"
                         formControlName="taskTypeId"
                         placeholder="Select"
                         [items]="taskTypeList"
                         [clearable]="false"
                         bindLabel="key"
                         [searchable]="false"
                         bindValue="value">
              </ng-select>
            </span>
            <div *ngIf="taskForm.controls['taskTypeId'].invalid && submitted" class="text-danger mt-1">
              <small *ngIf="taskForm.controls['taskTypeId'].hasError('required')">Please select Task Type</small>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-6">
          <div class="form-group">
            <label class="form-label">Task Status<em>*</em></label>
            <span>
              <ng-select class="ng-select"
                         formControlName="taskStatusId"
                         placeholder="Select"
                         [items]="taskStatusList"
                         [clearable]="false"
                         bindLabel="key"
                         appearance="outline"
                         [searchable]="false"
                         bindValue="value">

              </ng-select>
            </span>
            <div *ngIf="taskForm.controls['taskStatusId'].invalid && submitted" class="text-danger mt-1">
              <small *ngIf="taskForm.controls['taskStatusId'].hasError('required')">Please select Task Status</small>
            </div>
          </div>
        </div>
        <div class="col-xxl-8 col-lg-8 col-md-6 col-sm-6">
          <div class="form-label">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="4" formControlName="description" placeholder="Enter description"></textarea>
          </div>
        </div>

        <div class="d-flex justify-content-end mt-4">
          <button type="submit" class="btn btn-primary me-2">Save</button>
          <button type="button" class="btn btn-secondary me-2" (click)="cancel()">Cancel</button>
          <button *ngIf="taskForm.value.taskId" type="button" class="btn btn-danger" (click)="openDeleteContactModal()">
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>


  <div bsModal #deleteTaskModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Task</h5>
        </div>
        <div class="modal-body">
          <span>Are you sure you want to delete this Task?</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-sm" (click)="deleteTask()">Yes</button>
          <button type="button" class="btn btn-secondary btn-sm" (click)="closeDeleteModal()">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
